{% extends "base.html" %}

{% macro render_field(field) %}
<tr {% if field.error %} class = "error" {% endif %}>
    <td> {{field.label}} </td>
    <td> {{field(**kwargs) | safe }}</td>
</tr>
<tr class="error">
    <td></td>
    <td>
        <ul>
            {% for error in field.errors %}
            <li> {{ error }} </li>
            {% endfor %}
        </ul>
    </td>
</tr>
{% endmacro %}


{% block title %}
<title>Home | Index</title>
{% endblock %}

{% block content %}
<article>
    <h1 style="clear:both">  Save your feelings</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <table>
            {{ render_field(form.title, size = 50) }}
            {{ render_field(form.content) }}
            <tr class="submit">
                <td></td>
                <td><button type="submit">Save</td>
            </tr>
        </table>
    </form>
</article>
{% endblock %}


{% block aside %}
<section>
{% for note in notes %}
    <p> <a href = "{{ url_for('view',id = note.id) }}">{{ note.title }}</a> </p>
{% endfor %}
</section>
{% endblock %}